/*	------------------	*/
/*	resets				*/
/*	------------------	*/
/*  https://piccalil.li/blog/a-modern-css-reset/ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

picture {
  margin: 0;
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
}

/* make form elements easier to work with */
button {
  font-size: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*	------------------	*/
/*	utility classes		*/
/*	------------------	*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex--ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex--d-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.panel-container__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: lightgreen;
  background-color: hsl(270deg, 50%, 40%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: font-size 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), font-size 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), font-size 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
}
.panel-container__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel-container__item > *:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
}
.panel-container__item > *:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-transform 300ms cubic-bezier(0.61, -0.19, 0.7, -0.11);
}
.panel-container__item[data-show-closer=""] {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-size: 30px;
}
.panel-container__item[data-show-caption=""] > *:first-child, .panel-container__item[data-show-caption=""] > *:last-child {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.panel-1 {
  background-image: url("../images/panel-image(1).jpg");
}

.panel-2 {
  background-image: url("../images/panel-image(2).jpg");
}

.panel-3 {
  background-image: url("../images/panel-image(3).jpg");
}

.panel-4 {
  background-image: url("../images/panel-image(4).jpg");
}

.panel-5 {
  background-image: url("../images/panel-image(5).jpg");
}/*# sourceMappingURL=style.css.map */